@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&family=Roboto+Mono:ital@1&family=Roboto+Slab:wght@100;200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;900&family=Roboto+Mono:ital@1&family=Roboto+Slab:wght@100;200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;900&family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,700;1,400&family=Roboto+Slab:wght@100;200;300;400;500;700&display=swap');

:root {
    --main-text-size: 80px;
    --secondary-text-size: 20px;
    --header-text-size: 55px;
    --content-text-size: 24px;
    --card-header-text-size: 25px;
    --program-card-header-text-size: 30px;
    --program-card-secondary-text-size: 30px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
}

.logo-image{
    width: 5%;
    margin-bottom: 80px;
}

.icon {
    width: 4%;
    margin: 10px;
}
h1 {
    font-weight:700;
    font-size: 80px;
    margin-right: 5%;
}

.header-sub-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.first-box {
    width: 100%;
}

.image-first {
    width: 100%;
    min-width: 40%;
    
}
.image-first-div {
width: 20%;
}

.image-second {
    width: 100%;
    margin-right: 5%;
}
.image-second-div{
    width: 30%;
}

.flex {
   display: flex; 
}

.cont {
    width: 100%;
    display: flex;
}

.lessons {
    width: 15%;
    margin: 3%;
    display: block;
}

.lesson-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7%;
}

.course-format {
    margin-top: 7%;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.text-box{
width: 50%;
margin-right: 100px;
margin-bottom: 30px;
}

.container {
    width: 100%;
   padding-left: 80px;
}

.blue-box-div{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 5%;
    margin-left: -10%;
}

.blue-box {
    width: 40%;
    align-content: center;
    color: white;
    background-color: #1E4681;
    align-items: center;
    justify-content: center;
}

.text-in-blue {
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    padding: 20px;
}

.author {
    text-align: right;
    padding-right: 20px;
    padding-top: 0px;
}

h2 {
    font-weight: 700;
    font-size: 55px;
}

h3 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 0%;
    margin-top: 3%;
}

.about-course {
    width: 660px;
    height: 380px;
    margin: 0px;
    padding:0px;
}

.text {
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 0%;
    
}

.format-box {
    width: 15%;
    margin: 3%;
}

.card {
    width: 400px;
    height:330px;
    margin: 10px;
    padding-right: 0%;
    box-shadow: 5px 5px 8px grey;
    border-radius: 15%;
    overflow: hidden;
}
.card-image{
    width: 100%;
    height: 100%;
    margin-bottom: 0%;

}

.img-size {
    margin: 0%;
    padding-top: 0%;
    width: 100%;
    height: 100%;   
}

.card-text {
    padding-left: 5%;
    padding-top: 0%;
    padding-top: 0%;
    margin: 0%;
}
.card-image-container{
    margin: 0%;
    width: 100%;
    height: 50%;
}

.price {
    font-weight: 400;
    font-size: 80px;
    margin-top: 0%;
}

.how-many {
    margin-left: -80px;
    background-color: #EFEFEF;
    margin-bottom: 0%;
    padding-bottom: 100px;
}

.ekaterina{
    border-radius: 20px;
    background-color: white;
    width: 790px;
    display: flex;
    align-items: center;
    padding: 40px;
    margin-left: 80px;
    box-shadow: 5px 5px 10px grey;   
}

.image-ekaterina {
    width: 190px;
}

.text-ekaterina {
    font-weight: 400;
    font-size: 20px;
}

.text-ekaterina-head{
    font-weight: 700;
    font-size: 30px;
}

.social-icons{
    width: 30px;
    height: 30px;
}

.footer {
    background-color: #9DC9C8;
    margin-left: -80px;
    padding-left: 80px;
    padding-top: 120px;
    margin-top: 0%;
}

.footer-text {
    font-size: 18px;
}

 .footer-box {
    width: 300px;
    margin-right: 80px;
 }

 .left-margin {
    padding-left: 80px;
    padding-top: 100px;
 }

 .test {
    position: static;
 }

 .blue-font {
    color: #1D447D;
 }

 .header-div {
    width: 100%;
 }

 .header-box {
    width: 50%;
 }